<template>
  <div id="app">
    <toolbox-browser></toolbox-browser>
  </div>
</template>

<script>
import ToolboxBrowser from './components/ToolboxBrowser.vue'

export default {
  name: 'App',
  data: function() {
    return {
    
    }
  },
  components: {
    ToolboxBrowser
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
